$backgroundColor: #fcf0f4;
$cardColor: #66C3FF;
$textColor: #003D66;
$boxShadowColor: #006BB3;
$buttonColor: #001F33;

.welcome-page-button {
    background-color: $buttonColor;
}

.main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.welcome-page-card {
    display: flex;
    padding: 30px;
    width: 300px;
    flex-direction: column;
    box-shadow: 10px 5px 5px $boxShadowColor;
    background-color: $cardColor;
}

.welcome-page-card > mat-card-header {
    display: flex;
    justify-content: center;
}

.welcome-page-header {
    margin-bottom: 10px;
    color: $textColor;
}

.mat-card>.mat-card-actions {
    color: $backgroundColor;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}
