<div class="main-page">
  <div [ngStyle]="{backgroundImage:'url(src/images/background.png)'}" >
  </div>
    <h1>
      Welcome to myFlix!
    </h1>
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px;"
      color="primary"
      *ngIf="!checkUser()"
    >
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="openUserLoginDialog()"
      style="margin-right: 10px;"
      *ngIf="!checkUser()"
    >
      Login
    </button>

    <button
    mat-raised-button
    color="primary"
    (click)="openMoviesDialog()"
    *ngIf="checkUser()"
    style="margin-right: 10px;"
  >
    All Movies
  </button>

  <button
  mat-raised-button
  color="primary"
  *ngIf="checkUser()"
  (click)="openProfileDialog()"
>
  Profile
</button>

<button
      mat-raised-button
      color="warn"
      (click)="openUserLoginDialog()"
      style="margin-left: 10px;"
      *ngIf="checkUser()"
      (click)="logOut()"
    >
      Log out
</button>

  </div>
